BACKEND_PORT=8080
BANK_PORT=8081
FRONTEND_PORT=3000

NEXT_PUBLIC_API_BASE_URL=http://backend:8080
NEXT_PUBLIC_BANK_API_URL=http://bank:8081

DOCKER_BACKEND_IMAGE=your-dockerhub-username/e2ekeypad-backend:latest
DOCKER_BANK_IMAGE=your-dockerhub-username/e2ekeypad-bank:latest
DOCKER_FRONTEND_IMAGE=your-dockerhub-username/e2ekeypad-frontend:latest
